@define-color base-color   #020101;
@define-color accent-color #49281C; 
@define-color text-color   #D1817E;

/* Target the actual GTK window layer */
window#osd {
  background-color: transparent;
}

/* Target the main inner container box */
#box {
  background-color: alpha(@base-color, 0.95);
  border: 2px solid @accent-color;
  color: @text-color;
  border-radius: 15px;
  margin-top: 20vh; /* This positions it lower on the screen */
  padding: 12px;
}

/* Force icons and progress bars to inherit your wallpaper accent color */
progress, trough, image {
  color: @accent-color;
}
