* {
    background-image: none;
    font-size: 14px;
    font-weight: bold;
}

window {
    background-color: alpha({{background}}, 0.8); /* Wallust dynamic background */
}

button {
    color: {{foreground}};
    background-color: alpha({{color0}}, 0.5); /* Wallust dynamic button color */
    outline-style: none;
    border: none;
    border-radius: 20px; /* Uniform rounded corners */
    margin: 20px; /* Equal spacing between all buttons */
    background-repeat: no-repeat;
    background-position: center 30%; /* Pushes the icon slightly up to leave room for text */
    background-size: 25%;
    transition: all 0.2s ease-in-out;
}

button:hover, button:active, button:focus {
    background-color: {{color4}}; /* Wallpaper accent on hover */
    background-size: 30%; /* Gentle zoom effect */
}

/* Icon Paths */
#lock {
    background-image: image(url("/home/darriour/.config/wlogout/icons/lock_white.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/darriour/.config/wlogout/icons/logout_white.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/darriour/.config/wlogout/icons/suspend_white.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/darriour/.config/wlogout/icons/hibernate_white.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/darriour/.config/wlogout/icons/shutdown_white.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/darriour/.config/wlogout/icons/reboot_white.png"), url("/usr/share/wlogout/icons/reboot.png"));
}
